[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
actdiag = "*"
asn1crypto = "*"
aura = "*"
bcrypt = "*"
beautifulsoup4 = "*"
blockdiag = "*"
ccutil = "*"
ccutil-api = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
cssselect = "*"
enum34 = "*"
feedparser = "*"
funcparserlib = "*"
gitdb2 = "*"
html5lib = "*"
idna = "*"
ipaddress = "*"
lightblue-api = "*"
lxml = "*"
nose = "*"
num2words = "*"
numpy = "*"
nwdiag = "*"
olefile = "*"
paramiko = "*"
ply = "*"
progress = "*"
psutil = "*"
pyasn1 = "*"
pycairo = "*"
pycparser = "*"
pysftp = "*"
reportlab = "*"
requests = "*"
rpmfile = "*"
seqdiag = "*"
six = "*"
smmap2 = "*"
terminator = "*"
urllib3 = "*"
webcolors = "*"
webencodings = "*"
"backports.ssl_match_hostname" = "*"
GitPython = "*"
Pillow = "*"
PyGObject = "*"
PyNaCl = "*"
PySocks = "*"
TermFeed = "*"

[requires]
python_version = "3.7"
